/*menu.css*/
@charset "UTF-8";

/************ TOP MENU *****************/
#topMenuBox {
  float:right;
  font-weight:bold;
  padding-right:10px;
}

/***********MAIN MENU ********************/
#mainMenuBox {
  width:1280px;
  height:35px;
  line-height:35px;
  background-color:#ffffff;
  z-index:10; /*메인페이지 스크롤시 위에 오도록*/
  border-top:solid #CCC 1px;
  border-bottom:solid #CCC 1px;
}

#mainMenuBox ul{
  margin:0;
  padding:0;
  list-style:none;
}

#mainMenuBox li{
  float:left;
  text-align:center;
  width:16%;
  height:30px;
}

#mainMenuBox li:first-child { /*첫번째 메뉴 항목 */
  width:19%;  /* 20%지만 border 적용할 것 이라 19%*/
  border:solid 3px black;
}

#mainMenuBox li a{
  text-decoration:none;
  color:black;
  font-size:14px;
  font-weight:bold;
}

#mainMenuBox li a:hover{
  color:red;
}

/**************** SUB MENU *****************/
#subMenuBox{
  width:1280px;
  height:130px;
  background-color:white;
  text-align:center;
  z-index:10;/*슬라이드쇼박스 위로 드롭다운 하도록*/
  padding-bottom:0;
  position:absolute;
  visibility:hidden; /*시작시 sub 메뉴 항목 숨김*/
}

#subMenuBox ul{
  margin:0;
  padding:0;
  list-style:none;  
}

.subMenuItem{
  width:15%;
  background-color:white;
  border-left:solid #CCC 1px;
  border-right:solid #CCC 1px;
}

#subMenuItem1 {
  position:absolute;
  margin-left:5%;
}

#subMenuItem2 {
  position:absolute;
  margin-left:20%;
}

#subMenuItem3 {
  position:absolute;
  margin-left:35%;
}

#subMenuItem4 {
  position:absolute;
  margin-left:50%;
}

#subMenuItem5 {
  position:absolute;
  margin-left:65%;
}

#subMenuItem6 {
  position:absolute;
  margin-left:80%;
}

.subMenuItem li a {
  color:#333333;
  text-decoration:none;
}

.subMenuItem li a:hover{
  text-decoration:underline;
  color:black;  
}












































