.App {
  text-align: center;
}

#headerBox {
  background-color: red;
}

#navBox {
  background-color: blue;
}

.contentBox {
  background-color: green;
}

.footerBox {
  background-color: yellow;
}

