<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring_boot.projectEx.model.IProductDAO">
  <resultMap id="prdResult" type="com.spring_boot.projectEx.dto.ProductDTO" >
  	<result property="prdNo" column="prdNo"/>
  	<result property="prdName" column="prdName"/>
  	<result property="prdPrice" column="prdPrice"/>
  	<result property="prdCompany" column="prdCompany"/>
  	<result property="prdStock" column="prdStock"/>
  	<result property="prdDescript" column="prdDescript"/>
  	<result property="prdImg" column="prdImg"/>
  	<result property="ctgId" column="ctgId"/>
  </resultMap>
  
  
  	<!-- public ArrayList<ProductDTO> listCtgProduct(String ctgId) : 카테고리별 상품 검색 -->
  	<select id="listCtgProduct" parameterType="string" resultMap="prdResult">
  		SELECT * FROM product WHERE ctgId = #{ctgId} ORDER BY prdNo
  	</select>
  	<!-- public ProductDTO detailViewProduct(String prdNo) -->
  	<select id="detailViewProduct" parameterType="string" resultType="com.spring_boot.projectEx.dto.ProductDTO">
  		SELECT * FROM product WHERE prdNo = #{prdNo}
  	</select>
  	
  	<insert id="insertProduct" parameterType="com.spring_boot.projectEx.dto.ProductDTO">
	    INSERT INTO product(prdNo, prdName, prdPrice, prdCompany, prdStock, prdDescript, prdImg, ctgId)
	    VALUES(#{prdNo}, #{prdName}, #{prdPrice}, #{prdCompany}, #{prdStock}, #{prdDescript}, #{prdImg}, #{ctgId})
	</insert>
	
	<update id="updateProduct" parameterType="com.spring_boot.projectEx.dto.ProductDTO">
	    UPDATE product
	    SET prdName = #{prdName},
	        prdPrice = #{prdPrice},
	        prdCompany = #{prdCompany},
	        prdStock = #{prdStock},
	        prdDescript = #{prdDescript},
	        prdImg = #{prdImg},
	        ctgId = #{ctgId}
	    WHERE prdNo = #{prdNo}
	</update>
	
	<select id="getAllProducts" resultType="com.spring_boot.projectEx.dto.ProductDTO">
	    SELECT * FROM product
	    ORDER BY prdNo
	</select>
	
	<delete id="deleteProduct" parameterType="string">
	    DELETE FROM product
	    WHERE prdNo = #{prdNo}
	</delete>
	
  </mapper>